@(user: Option[String] = None)
<script>
        $("#student-search").autocomplete({
            source: function(request, response){
                var query = request.term;
                $.ajax({
                    url: "/search?q=" + query,
                    dataType: 'jsonp',
                    success: function(data, textStatus, request) {
                        response( $.map( data, function(item) {
                            return {
                                label: item.name,
                                value: item.id
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                window.location = "/student?id=" + ui.item.value;
            }
        });
</script>
</body>
</html>