@(user: Option[String], students: List[Student])

@includes.header(user)

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped" id="student-table">
        <thead>
          <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Date Of Joining</th>
            <th>Class Of Joining</th>
            <th>Village</th>
          </tr>
        </thead>
        <tbody>
          @for(student <- students){
              <tr>
                  <td>@student.id</td>
                  <td>@student.name</td>
                  <td>@student.father.getOrElse("N/A")</td>
                  <td>@student.doj.getOrElse("N/A")</td>
                  <td>@student.admission.getOrElse("N/A")</td>
                  <td>@student.village.getOrElse("N/A")</td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        $('#student-table').DataTable();
    });
</script>
@includes.footer(user)